[2016-05-21 05:59] jledford-devops opened #2 "ReCAPTCHA placeholder element must be empty"
Currently I get the below javascript error on the checkout page.
recaptcha__en.js:352Uncaught Error: ReCAPTCHA placeholder element must be empty

This appears to be happening because the onepage checkout loads both the checkout as guest form and register at checkout form into the dom at the same time. Since the render callback uses the same div this error is being thrown. Could we dynamically name

[2016-05-23 04:54] ProxiBlue commented on #2
Hi,

Which onestep checkout are you using?
I have tried with a couple, could not reproduce issue.

Also will help if you can supply a link to where i can view this issue in action.

[2016-05-23 05:16] jledford-devops commented on #2
Hello,

No problem. https://www.theclassicedge.com/checkout/onepage/

Once you have something in your cart error throws as soon as you hit that
page.

On Mon, May 23, 2016 at 12:54 AM, Lucas van Staden <notifications@github.com

--
*Josh Ledford *| Principal
DevOps Solution

Mobile: 804.239.4645

[2016-05-23 05:20] jledford-devops commented on #2
The default magento onepage checkout is what we are using. Other information coming shortly

[2016-05-23 05:21] ProxiBlue commented on #2
Ah, sorry, for some reason I read onestep! - checking with onepage now.

[2016-05-23 05:23] jledford-devops commented on #2
No problem. The site link I sent to you on magento connect private message if you have access to that. Guest checkout I am sure must be enabled as well so both html chunks render

[2016-05-23 05:30] ProxiBlue commented on #2
All good. I can reproduce.
Fix soon.
On 23 May 2016 1:23 pm, "jledford-devops" <notifications@github.com> wrote:

[2016-05-23 07:34] ProxiBlue commented on #2
Issue was a bit more than just naming the elements.
Basically the calling js to google, with the callback woudl not work with multiple elements, irrespective of the name of said elements.

I re-factored code to make this work, and error is now gone.

[2016-05-24 01:06] jledford-devops commented on #2
Tested it out as well and I no longer see the error. However I do see duplicate recaptchas.

Do you see this behavior? They are each individually named but on the same html page.

![screen shot 2016-05-23 at 9 00 36 pm](https://cloud.githubusercontent.com/assets/12206272/15489015/ef0b4fc4-2129-11e6-91c1-ecfc9830032f.png)

[2016-05-24 01:12] ProxiBlue commented on #2
Hi.

No i did not see that.
Let me investigate.

What i need to do is prioritize which captcha should display, if multiple
available, and use that one for all forms.
On 24 May 2016 9:06 am, "jledford-devops" <notifications@github.com> wrote:

[2016-05-25 06:07] ProxiBlue commented on #2
hi

Ok, fixed that now as well :) Can you test and let me know if anything further

[2016-06-01 08:07] ProxiBlue commented on #2
Is this all good now?

[2016-06-01 10:44] jledford-devops commented on #2
Sorry for the delay. I tested the other day but didn't have a chance to
debug and provide details on what I was seeing. It displays correctly now
and it lets you use the captcha like normal but once it is checked the form
fails to validate with an alert message about the captcha being invalid. I
can provide more details and screenshots tonight.
On Jun 1, 2016 04:07, "Lucas van Staden" <notificatio

[2016-08-28 14:56] ProxiBlue commented on #2
Hi

Can you pull latest release 1.2.5.
I believe I solved the last remaining issue

Testing would be appreciated.

[2016-08-29 12:03] jledford-devops commented on #2
Yes will do and I'll get back to you

On Aug 28, 2016 10:56, "Lucas van Staden" <notifications@github.com> wrote:

[2016-08-29 12:28] ProxiBlue commented on #2
In case you are interested. The issue was caused by tge multiple occurances of the post back result text boxes that are hidden.

I have no control ( from what i could grep in docs )  over the element name. They are the same named for each captcha in the DOM.

The ids are unique, and the contain the same class name.

The bug comes that upon form posting only one ( most likely the second one) of the

[2016-10-11 02:18] ProxiBlue commented on #2
closing issue due to inactivity

[2016-10-11 02:18] #2 closed

[2017-02-16 20:28] siosphere opened #6 "I am not a robot fails on checkout if encounter sign-up error"
When installed and setup to show on the cart page, when signing up as a new account, and doing the "I am not a Robot" captcha, if you encounter an error, like "email address is already registered", after fixing the problem, you are unable to continue creating an account, as the captcha will say it is invalid, but there is no way to re-do the captcha check on the frontend.

[2017-02-16 21:49] ProxiBlue commented on #6
Hi.

Thanks for letting me know. Will look at this tiday

[2017-03-13 15:28] tumazul opened #7 "Issue with product review tab"
Hi,
I have an issue with product review. Ex : http://www.gateau-bonbon.com/meli-melo-bonbons.html
It's work well for product review with url :
http://www.gateau-bonbon.com/review/product/list/id/1/
But not for product review in tab :
http://www.gateau-bonbon.com/meli-melo-bonbons.html

Can you help me please ?
thanks
regards

[2017-03-14 07:05] ProxiBlue commented on #7
hi,

this is not a bug with the module code.
You are using a custom theme, which is using custom layouts to place the reviews in a tab.

As described in this section of the readme:

https://github.com/ProxiBlue/reCaptcha#captcha-is-still-not-appearing-even-after-i-did-the-steps-above

you need to find the layout directives that define your reviews tab, and insert the relevant layout xml for the re

[2017-03-14 07:05] #7 closed

[2017-03-14 09:03] ProxiBlue commented on #6
Hi,

Latest release fixes.
Sorry about the delay, but I was to busy making money ;)

[2017-03-14 22:10] ProxiBlue commented on #6
@siosphere - just in case there was no notification sent by github, tagged you.

[2017-03-14 22:17] siosphere commented on #6
Awesome thank you, I will pull the latest and install.

[2017-03-14 22:17] #6 closed

[2017-05-30 00:25] adarshkhatri opened #9 "Question: Why is there Model rewrite?"
I am thinking of implementing your module in my EE 1.13 site. I was just checking it before I install. I can see you have rewritten one of the model, but I am unable to find it in core.

    <models>
            ............................
            <captcha>
                <rewrite>
                    <recaptcha>ProxiBlue_ReCaptcha_Model_Recaptcha</recaptcha>
                </rewrite>

[2017-05-30 01:16] ProxiBlue commented on #9
Hi.

Please read the article linked in the readme.

The fact that the file does not exist is irrelavant - magento will do the 'rewrite' and load my class model in my module, as instructed by the rewrite.

The extention is not tested in EE

[2017-05-30 01:16] #9 closed

[2017-05-30 02:19] adarshkhatri commented on #9
HI ProxiBlue

Thanks for quick reply and more digging found the logic behind you are extending none existing core class.

**I am adding here to save time for any one trying to figure it out.**

https://magento.stackexchange.com/questions/30606/rewrite-in-custom-module-to-non-existing-core-class-model

When `Mage_Captcha_Helper_Data` calls this model,

[code]

It redirects magento to **ProxiBlue_Re

[2017-08-10 02:12] doku-san opened #10 "ContactUs Session-Data is not working in 1.9.3"
Hi,

I tried you extension. It is working fine on all Pages. On the "Contacts"-Page I added the <?php echo $this->getChildHtml('recaptcha'); ?> and the Captcha is displayed and working correctly.

But the Patch for not loosing all data you provided for the form.phtml is not working for me in 1.9.3.4.

I get a fatal error for:
` $controller->getRequest()->getPost();`

Maybe this patch won't work wi

[2017-08-10 23:39] ProxiBlue commented on #10
I will give a test on a vanilla 1.9.3 install. Then get back to you

[2017-08-12 22:28] ProxiBlue commented on #10
Hi,

tested on 1.9.3.2 - seems to work as expected.
Busy bringing up 1.9.3.4, see in that version

![selection_347](https://user-images.githubusercontent.com/4994260/29244674-98f63eec-7ff0-11e7-92f0-b02326126349.png)
![selection_348](https://user-images.githubusercontent.com/4994260/29244675-9aec7a36-7ff0-11e7-89b9-1bd9bf88612c.png)

[2017-08-12 22:37] ProxiBlue commented on #10
Tested on 1.9.3.4, results the same as previous comments.

In the code `ProxiBlue_ReCaptcha_Model_Observer:: checkContact`

What is the result of `$controller = $observer->getControllerAction();`
Is that a class? if so, which class?

[2017-08-16 10:33] doku-san commented on #10
Thanks for your help. That' wired. Maybe I'am missing something.

I edited form.phtml:

[code]

Then I get following PHP-Error:
`Fatal error: Call to a member function getEmail() on null in /var/www/html/app/design/frontend/myTemplate/default/template/contacts/form.phtml on line 30`

PS: I am still figuring out how to get the result of $controller...

[2017-08-16 11:16] doku-san commented on #10
But it is working with:

[code]

[2017-08-16 14:10] ProxiBlue commented on #10
formdata should be formData (capital D)

$formdata is not the same as $formData

[2017-08-24 20:15] m-overlund opened #12 "Admin login: recaptcha "im not a robot" covers forgot password"
If recaptcha is set to "im not a robot" for admin login - it will cover the "forgot password" link.
![screen shot 2017-08-24 at 22 13 37](https://user-images.githubusercontent.com/504236/29686523-90cd035e-8919-11e7-842c-6699c81c875d.png)

Fix:
`display: inline-block;` added to the style will position it correctly.

[2017-09-14 09:44] Pekkonen opened #13 "Translate reCaptcha texts problem"
Hello.
I have 2 languages on my site and I need choice language for reCaptcha in admin accordingly.
I can't setup language for reCaptcha - then I select my website in "Current Configuration Scope" I don't appear CAPTCHA tab ((
![captcha1](https://user-images.githubusercontent.com/31384473/30423020-41ead48c-994a-11e7-921d-254b331864b4.jpg)
![captcha2](https://user-images.githubusercontent.com/31384

[2017-10-05 09:36] ProxiBlue commented on #13
This is not a bug related to this module.

Magento core captcha works only at DEFAULT and WEBSITE scope. This is a limitation on capcha as implemented by magento core.

As noted from core config file: app/code/core/Mage/Captcha/etc/system.xml
[code]

You can see this same effect by installing a clean magento install, not include any modules, and then change the store scope.

[2017-10-05 09:36] #13 closed

[2017-10-05 09:47] ProxiBlue commented on #12
Hi,

Can you show where you placed that? I am not finding the issue as described, so not sure if the placement is as per you fix.

+1 if you just do a PR :)

[2017-10-05 09:47] #10 closed

[2017-11-23 06:32] ProxiBlue commented on #12
No further information provided. Cannot reproduce.

[2017-11-23 06:32] #12 closed

[2017-12-20 20:58] ProxiBlue commented on #13
https://github.com/ProxiBlue/reCaptcha/releases/tag/1.4.1 was fixed by https://github.com/ProxiBlue/reCaptcha/pull/14

[2018-04-05 08:52] r2retail opened #18 "Contacts page with reCaptcha doesn't work embedded in custom cms page"
as title states, I have a working Contacts page with the Recaptcha. works without issues. but
If I load the contacts page into a custom cms page in magento, the Recaptcha works, but the Recaptcha
won't render, and cannot be completed this way.

[2018-04-05 11:01] ProxiBlue commented on #18
Hi.

Can you give an example on how you are adding the contact us to the CMS page

[2018-04-05 11:08] r2retail commented on #18
hey,

The code used is :

<p>{{block type="core/template" name="contactForm" form_action="/contacts/index/post" template="contacts/form.phtml"}}</p>

[2018-04-05 11:41] ProxiBlue commented on #18
Hi,

with

do you mean that the reCaptcha is not display at all?

[2018-04-05 11:47] r2retail commented on #18
It's not even loaded in the code. example of one of our webshops with issues:

working contacts page:
https://www.sheisdifferent.nl/contacts

the code used as mentioned above. for the custom cms page:
https://www.sheisdifferent.nl/over-ons

[2018-04-05 12:29] ProxiBlue commented on #18
Here you go: https://github.com/ProxiBlue/reCaptcha#use-in-cms-page

[2018-04-06 08:29] r2retail commented on #18
Thank you for the quick reply,

I have updated the module, I have used the new embedded code and added permissions for the custom block.  sadly this still doesn't work.

as far as I can notice is that the captcha javascript isn't loaded on the cms page.

I've used it on a different webshop that has the form embedded into a static block, and this works.
So This might be a theme problem for the shop

[2018-04-06 08:45] #18 closed

[2018-04-06 14:10] ProxiBlue commented on #18
No worries.

You may want to consider using an ajax form post, allowing the user to remain on the CMS page when submitting a contact  request.
You can achieve this easily by making a new template contact/form_ajax.phtml, and use that as the template file when embedding.

Here is a live exmaple: https://www.enjo.com.au/become-an-enjopreneur

[2018-04-12 08:21] ProxiBlue opened #19 "Query ported from support ticket system"
Hi Lucas,

I'm just looking at installing your ReCaptcha module, https://github.com/ProxiBlue/reCaptcha, thanks for creating it. :)

Just a few thoughts, and an integration query that I hope you don't mind me asking you.

Typo

I noticed the following typo, is this intentional?

array('value' => 'en-GB', 'label' => 'English (US)'),

should it be..

array('value' => 'en-GB', 'label' => 'English (GB

[2018-04-12 08:42] ProxiBlue commented on #19
Thanks, I have fixed this.

This is not a bad idea, but will not be implemented. I simply don't have the time. If someone wants to do the effort, they are free to do so and submit a PR.

This feature would require a change how magento core system configuration functions. Core magento does not allow you to select a different dropdown option for Displaying Mode, depending on captcha area(s) selected

[2018-04-27 13:51] durzel opened #21 "reCaptcha obscures "Forgotten password" link on admin login"
A minor thing this really, but still a bit of a problem.

A user of our Magento admin system reported that she'd forgotten her password, but was unable to recover it.  It turns out, after installing your extension and enabling CAPTCHA on Admin login (System -> Config -> Advanced -> Admin), that the reCaptcha overlaps the link on the login page:

<img width="588" alt="image" src="https://user-image

[2018-04-30 08:33] m-overlund commented on #12
Related to #20 + #21

[2018-05-08 15:35] durzel commented on #21
Resolved by 5a912e7 👍

[2018-05-08 15:35] #21 closed

[2018-05-08 22:22] #19 closed, assigned to nobody

[2018-08-09 23:25] ProxiBlue opened #23 "Issues found on new version wip-invisible"
This relates to new version in branch : https://github.com/ProxiBlue/reCaptcha/tree/wip-invisible

[2018-08-10 16:05] vishy93 commented on #23
@ProxiBlue First issue, when hovering over the collapsing "protected by reCaptcha", and you move your mouse over to the Blue rectangle it disappears quickly,  and thus making the ability to click the privacy and terms none.

[2018-08-10 16:08] vishy93 commented on #23
Second issue, it is affixed without choice to bottom right, and it might affect design. I.e, if you have a back to top link in bottom right.

[2018-08-11 11:12] ProxiBlue commented on #23
@vishy93  To trigger reCaotcha, set your browser identifier to 'googlebot'

https://winaero.com/blog/change-user-agent-chrome/

it will immediately trigger images reCaptcha

[2018-08-11 12:25] ProxiBlue commented on #23
@vishy93

Updated to allow position setting, using admin settings.

[2018-08-11 12:30] ProxiBlue commented on #23
@vishy93

I cannot reproduce. Can you confirm same issue is with base RWD theme, or is it only with your own theme.

[2018-08-11 12:55] vishy93 commented on #23
Base RWD theme on latest chrome browser

[2018-08-11 13:42] ProxiBlue commented on #23
https://drive.google.com/file/d/1vmk3wygoB335qnUdVVC2qVOi5aBCAsAa/view

Possible a browser compatibility issue. I am using Chrome 68

[2018-08-11 13:51] vishy93 commented on #23
Works well there.

[2018-08-11 13:53] ProxiBlue commented on #23
I have determined is not working on checkout. I am investigating why.

[2018-08-11 17:26] vishy93 commented on #23
@ProxiBlue I've not tried in checkout but will have a look.

[2018-08-11 17:47] vishy93 commented on #23
@ProxiBlue not sure if you have noticed, but thought it might be useful, when you login on checkout for a brief moment you can see that it correctly logins you in and takes you to checkout but then it literally after like half a second or so redirects you back and sets the "Incorrect CAPTCHA." error.

[2018-08-11 18:07] vishy93 commented on #23
@ProxiBlue Also if your logged in is intentionally not meant to show in the contacts page?

[2018-08-12 01:51] ProxiBlue commented on #23
Updated wip-invisible branch with code that makes checkout work.

So far I have tested: Login, create account, checkout login, checkout as guest, checkout with register

[2018-08-12 01:51] ProxiBlue commented on #23
@vishy93

Can you elaborate? I am not sure what you mean

[2018-08-12 01:53] ProxiBlue commented on #23
@vishy93

Checkout was not working, latest update is adjusted for checkout. The code from the initial PR that got me working on this, broke checkout completely for recaptcha, so I also reverted that.

Can you check with latets code, see if this is still happening.

[2018-08-12 05:24] ProxiBlue commented on #23
I have tested all sections that require reCaptcha, and they all seem to be working with invisible

[2018-08-12 08:01] vishy93 commented on #23
@ProxiBlue I meant if your logged in as a customer and go to contact us the reCapcha won't be there. Only shows on contact us if you are not logged in

[2018-08-12 08:15] ProxiBlue commented on #23
This is intentional. If person is logged in, there should be no need to check.

You get spammed via bots on contact us page, without being logged in.

[2018-08-12 12:28] ProxiBlue commented on #23
New feature:

https://github.com/ProxiBlue/reCaptcha/tree/wip-invisible#newsletter-subscribe-captcha

[2018-08-12 12:52] vishy93 commented on #23
Awesome :)

[2018-08-12 16:37] vishy93 commented on #23
@ProxiBlue Error for Newsletter Subscriptions:

`

Uncaught Error: grecaptcha.execute only takes the 'action' parameter
  | Qs | @ | recaptcha__en_gb.js:417 | (anonymous) | @ | (index):987

`

Also, downloading the new zip only get the app folder, so no skin or js folder.

[2018-08-12 16:46] vishy93 commented on #23
Also,

`Uncaught Error: reCAPTCHA has already been rendered in this element
    at Object.Ms [as render] (VM21174 recaptcha__en_gb.js:415)
    at (index):357
    at prototype.js:825
    at Array.forEach (<anonymous>)
    at Array.each (prototype.js:824)
    at window.reCaptchaCallback ((index):350)
    at ws (VM21174 recaptcha__en_gb.js:422)
    at xs (VM21174 recaptcha__en_gb.js:406)
    at VM211

[2018-08-13 08:49] ProxiBlue commented on #23
They used their own text box, with links, and own styles on an inline display of the reCaptcha element

ref: https://stackoverflow.com/questions/44543157/how-to-hide-the-google-invisible-recaptcha-badge

You can do the same by using the INLINE option in admin.

[2018-08-13 08:51] ProxiBlue commented on #23
That is correct. The skin folder was deleted, as it only contained images for V1, which is now obsolete
I don't think there ever was a js part....

BTW - noticed they are beta testing v3!

[2018-08-13 09:08] vishy93 commented on #23
@ProxiBlue Indeed I was just more concerned about the "These terms do not grant you the right to use any branding or logos used in our Services. Don’t remove, obscure, or alter any legal notices displayed in or along with our Services."

[2018-08-13 09:14] vishy93 commented on #23
V3 looks very good. I like the newer approach less user experience hinderence. Did you see the other two errors I found?

[2018-08-13 10:44] ProxiBlue commented on #23
Yes. Will be looking at that later

[2018-08-13 11:34] vishy93 commented on #23
@ProxiBlue The script is being called twice.

<script
--
  | src="https://www.google.com/recaptcha/api.js?onload=reCaptchaCallback&render=explicit&hl=en-GB"
  | async
  | defer></script>

This may be the issue for the second issue

[2018-08-13 12:38] ProxiBlue commented on #23
Uncaught Error: reCAPTCHA has already been rendered in this element at Object.Ms [as render] (VM21174 recaptcha__en_gb.js:415) at (index):357 at prototype.js:825 at Array.forEach (<anonymous>) at Array.each (prototype.js:824) at window.reCaptchaCallback ((index):350) at ws (VM21174 recaptcha__en_gb.js:422) at xs (VM21174 recaptcha__en_gb.js:406) at VM21174 recaptcha__en_gb.js:423 at VM21174 recapt

[2018-08-13 12:40] ProxiBlue commented on #23
| Qs | @ | recaptcha__en_gb.js:417 | (anonymous) | @ | (index):987

I can reproduce this one.

[2018-08-13 12:53] vishy93 commented on #23
@ProxiBlue I have disabled cacheing :) also I always clear. This is my recaptcha.phtml file

[https://hastebin.com/ragoxofawa.xml](https://hastebin.com/ragoxofawa.xml)

![screen shot 2018-08-13 at 13 52 59](https://user-images.githubusercontent.com/9990517/44032825-3d5a3dce-9f00-11e8-966c-6ed3f4bf0246.png)

[2018-08-13 12:56] ProxiBlue commented on #23
Soled issue with error:  Uncaught Error: grecaptcha.execute only takes the 'action' parameter

[2018-08-13 12:57] ProxiBlue commented on #23
You are using online option?

[2018-08-13 12:59] vishy93 commented on #23
@ProxiBlue just testing different things out, the error is there in in-line, bottom-left and bottom-right.

[2018-08-13 13:02] vishy93 commented on #23
@ProxiBlue I think the below might be a contributing factor:

<script --   | src="https://www.google.com/recaptcha/api.js?onload=reCaptchaCallback&render=explicit&hl=en-GB"   | async   | defer></script>
This may be the issue for the second issue

[2018-08-13 13:06] vishy93 commented on #23
@ProxiBlue

Soled issue with error: Uncaught Error: grecaptcha.execute only takes the 'action' parameter
--

Sorry, what was the fix for this issue?

[2018-08-13 13:06] ProxiBlue commented on #23
That's the thing, I am not getting that, it is only called once....for me here.

[2018-08-13 13:07] ProxiBlue commented on #23
Sorry, what was the fix for this issue?

The execute was incorrectly loading elements that was passed. Seems those elements are not working correctly when those mobile devices are loaded/used.

[2018-08-13 13:09] vishy93 commented on #23
@ProxiBlue What browser would you be using? I am using Chrome and can confirm I am using latest package.

![screen shot 2018-08-13 at 13 58 14](https://user-images.githubusercontent.com/9990517/44033480-6c83604c-9f02-11e8-8f1f-d0cd81704c23.png)

[2018-08-13 13:09] ProxiBlue commented on #23
![selection_547](https://user-images.githubusercontent.com/4994260/44033522-351e645e-9f3d-11e8-9e55-95af8e5389ce.png)

[2018-08-13 13:09] vishy93 commented on #23
@ProxiBlue Ah okay, how would we fix this?

[2018-08-13 13:11] ProxiBlue commented on #23
Should already be fixed in latest code.

[2018-08-13 13:11] ProxiBlue commented on #23
trying to reproduce other issue

[2018-08-13 13:15] vishy93 commented on #23
@ProxiBlue Could you view your page source and do a find search for recaptcha/api. I see two instances.

![screen shot 2018-08-13 at 14 15 22](https://user-images.githubusercontent.com/9990517/44033787-5b1c4c82-9f03-11e8-9938-c6015c7bc839.png)

[2018-08-13 13:25] ProxiBlue commented on #23
Chrome itself - one instacne of script loading

![selection_551](https://user-images.githubusercontent.com/4994260/44034324-68c8e0e8-9f3f-11e8-992f-e766416a86be.png)

[2018-08-13 13:28] vishy93 commented on #23
@ProxiBlue [https://hastebin.com/sonidifeqo.http](url)

[2018-08-13 13:29] ProxiBlue commented on #23
The code here:

https://github.com/ProxiBlue/reCaptcha/blob/wip-invisible/app/code/community/ProxiBlue/ReCaptcha/Block/Captcha/Recaptcha.php#L14

is supposed to prevent double code insertion.

It sets a registry flag on first call.

which is called from the template:

https://github.com/ProxiBlue/reCaptcha/blob/wip-invisible/app/design/frontend/base/default/template/captcha/recaptcha.phtml#L8

so

[2018-08-13 13:33] ProxiBlue commented on #23
Can you show me your subscribe.phtml? as well as /template/contacts/form.phtml

[2018-08-13 13:33] ProxiBlue commented on #23
Is your magento cache disabled? or enabled?

[2018-08-13 13:35] ProxiBlue commented on #23
magento version?

[2018-08-13 13:40] vishy93 commented on #23
@ProxiBlue

How do I do this?

For the requested files see here:

[Subscribe.phtml](https://hastebin.com/gufahibavu.xml)
[form.phtml](https://hastebin.com/pozokaronu.xml)

Magento version 1.9.3.9

[2018-08-13 13:43] ProxiBlue commented on #23
bit stumped. will try this on a different magento install tomorrow, latest 1.9.3.9, from a live site dev install, see if I can reproduce.

for me, it works. also tried firefox

![selection_552](https://user-images.githubusercontent.com/4994260/44035308-c61098ca-9f41-11e8-8e14-37570482ec48.png)
![selection_553](https://user-images.githubusercontent.com/4994260/44035315-c83216d8-9f41-11e8-952c-a8aea

[2018-08-13 13:48] vishy93 commented on #23
@ProxiBlue I get same result on Firefox with the error, I will see if I can look into it further. Yeah go enjoy precious time my friend we can pick up again tomorrow.

[2018-08-13 15:08] vishy93 commented on #23
@ProxiBlue the render check is failing.

`<?php var_dump($this->canRenderJS()); ?>`

This is returning true each time, so magento can't prevent loading the additional times.

[2018-08-13 22:17] ProxiBlue commented on #23
Strange. So that means the registry flag is not being persistent which means those renderings are generated accross multiple page requests, or the registry is being cleared (which usually happens per page request)

Can you check if you have any 404s on the page loading. For anything, but specifically of interest is images or Css or js files that are 404ing.

[2018-08-13 22:48] ProxiBlue commented on #23
Doing that today.

[2018-08-14 06:28] vishy93 commented on #23
@ProxiBlue could it be a cache issue, as the Footer is a cached block?

[2018-08-14 07:37] ProxiBlue commented on #23
I have tested this in a 1.9.3.9 site, with and without cache, and I only get one instance.

The fact that you get a new registry entry (so previous registry flag is not set/active) indicates that these are new page requests.

Are you testing on a new install, or are there other 3rd party modules installed?

Can you test on a completely different environment?

[2018-08-14 07:39] ProxiBlue commented on #23
I am adding some code that will prevent the code from auctioning again, even if in dom multiple times.

This circumvent the issue, but does not solve the core oddity.

[2018-08-14 09:29] vishy93 commented on #23
@ProxiBlue That is so strange, what would cause multiple new page request each time?

I am testing on my local install of a site, there are some 3rd party modules.

I can test on a fresh local install with no 3rd party modules now.

[2018-08-14 09:53] vishy93 commented on #23
@ProxiBlue Okay, so testing on a fresh new install: version 1.3.9.9; I can rightly see the issue is not there. But in my local install is there. What could be causing the registry key issue?

[2018-08-14 10:08] ProxiBlue commented on #23
There can be many reasons. One that comes to mind is that you have 404s (images/css/js) that is not loading which then results into a new page request, new session etc.

Check that your local webserver environment has the required error dosuments set correctly, and don't reload the entire magento frameowrk when it hits a 404 for an asset that is not present.

Today, I integrated this change into a

[2018-08-14 10:35] vishy93 commented on #23
@ProxiBlue I can confirm that there is no 404s have thoroughly checked all that.

For a test I changed the `canRenderJS` function like so:

`    public function canRenderJs()
    {
        if (!Mage::registry('recaptcha_rendered')) {
            Mage::register('recaptcha_rendered', true, true);
            return "The if condition is true";
        }
        return false;
    }`

Interestingly, Th

[2018-08-17 11:17] vishy93 commented on #23
@ProxiBlue I have reproduced the error in fresh install rwd too:

1) clear/delete cache (rm -f /var/cache)

2) Go to frontend, then go to contacts. **!important**

3) You will see the error.

4) if you clear the cache then go direct to the contacts page it works sweet but then it won't render elsewhere after for newsletter.

[2018-08-17 12:50] ProxiBlue commented on #23
Nice going in reproducing. Still visible paid project. Should get some time in comming week.

[2018-08-17 13:07] vishy93 commented on #23
@ProxiBlue hey pal, thats fine. I'll keep digging away at it.

[2018-08-25 12:16] ProxiBlue commented on #23
@vishy93

I can now reproduce the issue without fail. Thank you for working that out.

![selection_589](https://user-images.githubusercontent.com/4994260/44618184-cef37f00-a8a3-11e8-8599-99829a1d404c.png)

[2018-08-25 13:42] ProxiBlue commented on #23
@vishy93

Please check updated code in wip-invisible branch
Note that the way to set the newsletter captcha has now also been changed to work like the others by using:

```<?php echo $this->getChildHtml('recaptcha'); ?>```

[2018-08-25 13:50] vishy93 commented on #23
@ProxiBlue I will take a look soon as I can

[2018-08-28 10:07] vishy93 commented on #23
@ProxiBlue wouldn't the  generateCatchaBlock helper method now be redundant? as I can't see it being used anywhere. Thus, can't we remove it?

[2018-08-28 10:14] ProxiBlue commented on #23
Yes and no.

Not using it, but someone might be able to use it where layout XML is not available or suitable.

It does not hurt anything to stay there.

[2018-08-28 10:15] ProxiBlue commented on #23
It was not the reason for the issue found. Not sure why I did not just use a layout directive in the first place.

[2018-08-28 10:51] vishy93 commented on #23
@ProxiBlue That is true. Nevertheless, testing the latest version out, when viewing the page source, for instance on the login page, I can see that the script is included twice.

[2018-08-28 14:32] ProxiBlue commented on #23
Ok. Makes sense. The main issue here is cache. The block has rendered now with attributes set which is flagging it as already rendered.

I have an idea. Will adjust.

Some great testing. Appreciated.

[2018-08-28 15:44] vishy93 commented on #23
@ProxiBlue  yeah it's the dammm footer block causing it. I tried:

`<?php echo $this->getChildHtml('recaptcha', false); ?>`

[2018-08-29 13:39] ProxiBlue commented on #23
Technically it is. The second one is via the cached block (which is the core issue)
The flag to prevent the js block from inseting more than once IS only run once, as the cached version in footer never runs it again.

a bit of a catch 22

[2018-08-30 14:34] vishy93 commented on #23
Yes, but I mean like scrap the whole flag way and go about it by like for example adding the js via addjs.

[2018-08-30 22:28] ProxiBlue commented on #23
The is is dynamic. Depending on settings and configuration parts are included and values are set.

Thus it needs to be generated via a blocks output.

If the is was static, identical for all, then placing it via XML layout would have been possible.

[2018-09-01 14:27] ProxiBlue commented on #23
@vishy93

Another update, cannot reproduce either of the issues found, also tested checkout, which has 3 recaptcha elements (login/guest/register)

Give it a try now.

No ajax.

[2018-09-03 13:30] vishy93 commented on #23
@ProxiBlue Awesome!!! those previous issues look resolved. However, the same script is still added multiple times for each instance of reCaptcha.

[2018-09-03 13:37] ProxiBlue commented on #23
Yes, that is not an issue. The code detects that and only one actions.

This cannot be prevented, due to cache. If a block is rendered, which contains captcha (footer) and you enter a page that also add captcha ( example contact us) there is no way to prevent the already cached block from rendering the scripts. They are cached. Since footer is send to page rendering after the contacts form, at the

[2018-09-03 13:40] ProxiBlue commented on #23
In the same way, if the footer does not include the code (as it was previously rendered in body) moving to a page with no other captcha results in no code in footer, as it is cached, and won't render again. (The issue you foundl

[2018-09-03 16:04] vishy93 commented on #23
@ProxiBlue I understand that completely. Shame because of cacheing we have to include the script each time.

[2018-09-26 20:17] scottcdi opened #24 "PHP 7.2 Compatibility"
Magento just recently announced that they will be openly supporting PHP 7.2 for the magento 1 instance and have also recently just released a patch.

Does anyone know if this plugin will be compatible with PHP 7.2 or if a patch is planning on being developed here as well?

[2018-09-27 21:20] scottcdi commented on #24
We will be spinning up a dev env shortly with the magento 7.2 patch. Will report back with any issues. Thank you.

[2018-09-27 21:20] #24 closed

[2018-10-04 15:42] vishy93 commented on #23
@ProxiBlue that is great news, Once I go live with it I shall also keep you posted if any issues found. Most likely none :)

[2018-11-29 02:19] ProxiBlue opened #28 "SUPEE-10975 / release 1.9.4 intorduces wishlist and sendfriend core recaptcha"
The latest patch ads the two areas as part of core recapctha.
This module ALSO ads those areas.

My intention is to strip these areas from the module, as the core code should be sufficient to handle the functionality, not needing 3rd party code.

This change *could* cause incompatibility between this module and the supplied patch/magento version, as I have not yet tested.

[2018-11-29 09:38] ProxiBlue commented on #28
Magento introduced wishlist and sendafriend recapctha into core with the latest patch / 1.94
This version strips the noted areas from the module, as they are no longer needed as custom code

If you need wishlist and sendafriend reCaptcha, prior SUPEE 10975 / 1.9.4 install 2.0.1

[2018-11-29 09:38] ProxiBlue commented on #28
release 2.1.0 has the updates

[2018-11-29 09:38] #28 closed

[2018-12-10 08:15] vishalpatel14 opened #29 "Captcha not Working With Magento 193.x and 194xConatct Page."
Hello Team,

We have install your extension but its not working with 1.9.3.x and 1.9.3.4 contactus page. can you provide some solution for the issue. This will be really helpful. It will be really appreciated.

[2018-12-10 08:45] ProxiBlue commented on #29
Hi,

Did you follow the guide in the readme, as well as the troubleshooting part?

[2018-12-10 08:58] vishalpatel14 commented on #29
Hello Team,

Yes we have follow all the troubleshooting part but still we dont have the captcha only on contactus page.

Also we have checked all the things more than 2 to 3 times still its not working on cpatcha page.

[2018-12-10 09:47] vishalpatel14 commented on #29
Hello Team,

We get now the captcha on contact form but now issue it it gives error when we submit with google captcha on contactus like Unable to submit your request. Please, try again later.

Can you let me know what will be the issue might be?

[2018-12-10 09:52] vishalpatel14 commented on #29
Hello Team,

Here we have the logs for the same.

2018-12-10T09:51:54+00:00 DEBUG (7): Form ID: user_contact=>Array
(
    [name] => name
    [email] => e@e.com
    [telephone] => 23423
    [message] => dsfsfsdfds
    [g-recaptcha-response] =>
    [hideit] =>
)

2018-12-10T09:51:54+00:00 DEBUG (7): Form ID: user_contact=>No 'g-recaptcha-response' in request! - building
2018-12-10T09:51:54+00:00 DEB

[2018-12-10 12:11] vishalpatel14 commented on #29
Hello Team,

All the issue have been resolved. Can you please close this ticket. Thanks once again for prompt response.

[2018-12-10 12:42] ProxiBlue commented on #29
Hi,

Happy to see you resolved this.
Can I ask what the final issue was?

 Form ID: user_contact=>Bad response from captcha gateway. we got 410

What was wrong? I like to know, in case other users run into issue, they can ref this ticket.

[2018-12-11 03:19] #29 closed

[2018-12-11 05:17] vishalpatel14 commented on #29
Hello Team,

It was some kind of issue with the form template. Hence basically we have done 3 changes to achieve it.

1. I admin we have one option to show cpatcha we made it always.
2. We bring the layout.xml to current active theme.
3. We replace the full contact us form with latest form.phtml of Magento version. (I think we have issue over here hence the form was not being submitted)

[2019-01-10 23:21] adarshkhatri opened #31 "Number of Unsuccessful Attempts to Login affects Contact us page"
First of all thanks for this great extension.

I was struggling to show recaptcha in my contact us page. Now I figured when I have Number of Unsuccessful Attempts to Login set to more than 0, then it doesn't show up. I must have 0.

This is little bit confusing since it ("Number of Unsuccessful Attempts to Login") is for login.

Hope this helps to others.

[2019-01-10 23:53] adarshkhatri opened #32 "Form data clear after successful submit"
Is it normal or it's only happening in my instance?

After successful contact us form submit, data is not cleared from session, which is why it again fills the submitted data in the form.

I had to modify this function:
[code]
Is this correct or there is better way?

[2019-01-11 07:45] ProxiBlue commented on #31
Hi,

NP, I use this on many of my clients sites, so tend to keep it working.

I never noticed that, and I agree it is a bug. Will get it sorted as soon as I can

[2019-01-11 07:47] ProxiBlue commented on #32
Hi,

Never noticed. I do all our contact forms via ajax submissions, and clear the form using javascript.
What you did is fine. Can you do a PR?

[2019-01-11 07:48] ProxiBlue commented on #32
You could also try just doing ```Mage::getSingleton('customer/session')->unsFormData()```

[2019-01-16 06:08] #31 closed

[2019-01-16 06:13] #32 closed

[2019-02-08 07:34] r-martins opened #33 "Register form can't be resubmitted after Validation failure when using Invisible"
Scenario/Steps to reproduce:
1. Set mode as Invisible
2. Mark Register During Checkout
3. Using OnePageCheckout (magento checkout), click on Register for step 1
4. Try to submit the form. You'll get many validation errors, like Password fields is required.
5. Try to fill the password fields (for example), and you'll be unable to move on to the next step. Looks like the Continue button is disabled

[2019-02-08 11:54] ProxiBlue commented on #33
Hi,

Thank you for reporting this, and providing clear steps to reproduce.
I have managed to reproduce this, and will get an version out as soon as I figure out what is going on.

[2019-02-08 12:44] ProxiBlue commented on #33
Hi,

I can no longer reproduce on 2.1.4.

https://github.com/ProxiBlue/reCaptcha/releases/tag/2.1.4

Please update and let me know if this works for you

[2019-02-11 03:50] r-martins commented on #33
Hi @ProxiBlue. This was quick.
Thank you for fixing it so quickly. I was able to test 2.1.4 and see its now working.

[2019-02-11 03:50] #33 closed

[2019-02-18 22:01] lfolco opened #34 "Which released version will work with Magento 1.7?"
I'd like to upgrade to the latest version but I believe it's not backward compatible for Magento 1.7. Can you tell me which release will work with 1.7?

[2019-02-19 00:42] ProxiBlue commented on #34
Hi,

It is not really concerning just magento version, it involves what patches are installed.

I updated the README, to clarify:

If you have magento 1.9.4, *OR* you have Magento < 1.9.4 + SUPEE 10975 patch installed, you must use release 2.1.x or greater.
If you have Magento < 1.9.4 and not pacthes with SUPEE 10975, then you must use version 2.0.1 (the most up-to-date version prior to 1.9.4 and

[2019-02-28 23:50] r-martins opened #35 "Register form can't be submitted"
**Steps to reproduce**
1. Select Create User on forms field
2. Using this config (but you can use invisible as well)
![configuration___system___administracao_magento](https://user-images.githubusercontent.com/191149/53606515-31d92080-3c0f-11e9-9e89-731b50be5ef7.jpg)

3. Go to account create page /customer/account/create/, fill the fields
4. Click on Submit button

**Expected Result**
Form is submi

[2019-03-01 01:26] #34 closed

[2019-03-01 02:06] ProxiBlue commented on #35
Managed to reproduce, magento 1.9.4.0 only issue seems like it. (tried in 1.9.3.10, and worked fine)

You mention that "Absolutely nothing happen". This is not 100% what I see, so not 100% sue is same issue found.
What I get is that the form does submit, however flow is taken directly back to create page.

I can see this via the networking tab:

![selection_999 026](https://user-images.githubuserc

[2019-03-01 02:08] ProxiBlue commented on #35
Checking posted form data, there is a form key there...so why is it being rejected?

![selection_999 028](https://user-images.githubusercontent.com/4994260/53611563-00118b00-3c0a-11e9-8f29-5557d07ded6f.png)

[2019-03-01 02:11] ProxiBlue commented on #35
Ok, so the form key in the posted form, and the one in the session differs. Seems like a stale form key problem.

![selection_999 029](https://user-images.githubusercontent.com/4994260/53611698-71513e00-3c0a-11e9-8fa3-7d62f7d00e0a.png)

[2019-03-01 02:26] ProxiBlue commented on #35
mmm, ok, might be on a red-herring here, as I have disabled/removed the recapctha module, and the issue is persisting, which points to either I have a bad install, or this is not a bug related to recactha

[2019-03-01 02:30] ProxiBlue commented on #35
@r-martins

Does the problem persist if you disable reCapctha module (clear cache)
Can you reproduce on a fresh magento .9.2.4 install?

[2019-03-01 02:57] ProxiBlue commented on #35
Ok, started over, brand new fresh install of 1.9.2.4, and registration now works.
Re-installed reCaptcha using composer. Registration still works.

The previous issues (form key) found looked more like a magento upgrade issue (I upgraded 1.9.3.10 to 1.9.2.4)
A fresh install of magento 1.9.2.4 fixed the registration.

Now, testing with magento 1.9.2.4, I cannot find any issue/reproduce issue.
This

[2019-03-01 04:31] r-martins commented on #35
Hi Lucas.
I can confirm that the problem doesn't happen when disabling the module.
See my video: https://www.youtube.com/watch?v=089irfSTwOI
I noticed you are in Australia as well. If you want we can chat somewhere else and debug it together.
I tried with rwd/default as well.

[2019-03-01 05:31] ProxiBlue commented on #35
Do you have this running somewhere I can access?
I cannot reproduce, but it does seem like a javascript issue, so i could potentially figure out wtf is going on by seeing it in action, and debugging js code.

[2019-03-06 07:35] r-martins commented on #35
Hi Lucas
I've installed the module on the public test environment, but wasn't able to reproduce the issue there.
Tomorrow I'll try to send the local db and unstaged settings there in order to reproduce.

Thanks for the support and help so far.

[2019-03-07 04:14] r-martins commented on #35
Hi Lucas.
I'm starting to believe that this is something that I did, and not with the module itself.
When uploading this environment, I was only able to reproduce after uploading the working files (not added to the repo yet), but when just installing your module, it still works.

Anyway, kindly see if you are able to see any message or error there: http://teste.magenteiro.com/customer/account/crea

[2019-03-08 02:37] ProxiBlue commented on #35
Hi,

Looks like the issue might be the fact that you have commented out the varienForm creation.

![selection_999 048](https://user-images.githubusercontent.com/4994260/54003709-12517300-418e-11e9-997b-5d17385aab89.png)

The reCapctha code intercepts the varienForm submit, to effect the challenge

[2019-03-08 03:07] r-martins commented on #35
Yeh, nice point that I left behind Lucas.
I just uncommented it...
It worked in the fist attempt.. but after refreshing and trying again, I got the same behaviour.

Thanks for helping me on this one.

[2019-03-08 04:34] r-martins commented on #35
Hi Lucas.
I found the problem.
During this customization, I've changed one of my validation rules, and I got a JS function returning exception.
This makes the varien form validate() fail silently.

Sorry for the confusion. **This is not a bug on ProxiBlue module**. 🥇

---
Further details (if you want):
js/ricardomartins/cpfvalidation.js

countrySelect is null on this form, so it gets an exception.

[2019-03-08 04:34] #35 closed

[2019-03-08 04:53] ProxiBlue commented on #35
NP, glad you got it figured out.

[2019-05-23 16:46] rafaelpatro opened #37 "Is it compatible with Google Recaptcha v3?"
Hi guys! First of all thanks for this awesome extension.
Is it compatible with Google Recaptcha v3?

[2019-05-24 00:02] ProxiBlue commented on #37
Hi,
Not (as yet)

I generally add in features as I need them, and I have no need for v3 at present

Feel free to contribute ;)

[2019-05-24 10:53] #37 closed

[2019-06-14 11:18] masoudilyas opened #38 "Not Working on Newsletter Form"
Hi,
I have installed the extension and got the recaptcha working fine on contact and customer registration form. I have added the code

[code]
between the `<form>` tags in `subscribe.phtml`

However when i enter an email address and submit the form, it gives an error `Incorrect Captcha`
I am using the ultimo theme and Magento ver 1.9.4.1
Has anybody came across this error, and could you you guide

[2019-06-14 23:26] ProxiBlue commented on #38
Do you have a running example?
If you look at the DOM, is the reCaptcha code outputted in the section?

[2019-06-15 09:40] masoudilyas commented on #38
Hi, the running example is http://www.lexifashion.co.uk/ecommerce/index.php/

[2019-06-15 14:23] ProxiBlue commented on #38
Hi,

You are using DISPLAY: NONE on the recapctha element. This will not work.
By making it display:none, you are removing it form the DOM, and the element fields will not post in the form POST data

Refer:  https://developers.google.com/recaptcha/docs/faq

![image](https://user-images.githubusercontent.com/4994260/59552620-f7c43c80-8fbb-11e9-9707-87ce8996d43f.png)

I removed the display:noen from

[2019-06-15 17:24] masoudilyas commented on #38
Thank you for the help, actually i am not a professional developer, i just implemented as per the instructions in the README, and it was working fine in contacts for and customer register, but it was not working in newsletter. I got a developer to have a look at it, and he says that he did some sort of override. I have asked him to reply on this thread, he can give more information as to what the

[2019-06-15 17:42] masoudilyas commented on #38
Hi, the developer added this file
[code]
to `/app/code/community/ProxiBlue/ReCaptcha/Block/Subscribe.php` and it started working.
I told him to hide the badge. I will keep the badge hidden and add the text and links as you have stated above.

[2019-06-15 23:59] ProxiBlue commented on #38
Hi,
glad you mad it work, however, I will note (so others don't do this)

Although you 'made it work' - how you did it is not correct.

1. You have made edits to a 3rd party module, which is a bit nono - as you have now broken your upgradability. 6 months from now, you will want to update the module to get new feature, and forget you edited the file, and then suddenly your site is broken, and you

[2019-06-15 23:59] ProxiBlue commented on #38
I am closing the tcket, as the issue is not the recpatcha module, but your theme implementation.

[2019-06-15 23:59] #38 closed

[2019-06-17 10:59] masoudilyas commented on #38
Hi thank you for the reply. As i said i am not a developer. I relayed your instructions to the dev, and he says that he tried that but it did not work. The newsletter subscribe form in my theme is being called from a cms block and not the layout, the same as you have done for the contact form. Quote

[2019-09-10 05:27] r-martins opened #39 "Bad response from captcha gateway. we got 404"
I'm implementing Firecheckout and I'm getting Invalid Captcha when trying to move from billing address to the next step.
<img width="1496" alt="image" src="https://user-images.githubusercontent.com/191149/64586296-3dd44500-d3df-11e9-8e35-e0b424a1c77e.png">

When debugging, I found that it's doing a request to `https://www.google.com:443//recaptcha/api/verify` which returns 404.

I'm still investig

[2019-09-10 22:25] ProxiBlue commented on #39
Ok, that url shoudl be:

https://www.google.com/recaptcha/api/siteverify

Checking to see why / where it is generated, and doing an update now

[2019-09-10 22:28] ProxiBlue commented on #39
Ah, no wait, there seems to be two URLS, I looked potetially at the wrong one:

https://github.com/ProxiBlue/reCaptcha/blob/master/app/code/community/ProxiBlue/ReCaptcha/Helper/Data.php#L18

[2019-09-10 22:40] ProxiBlue commented on #39
I think the issue is here: https://github.com/ProxiBlue/reCaptcha/blob/master/app/code/community/ProxiBlue/ReCaptcha/Model/Recaptcha.php#L133

In that code, it is a fallback, in case there is no param called 'g-recaptcha-response' response in the POST response, so it attempts to build the result.

I suspect this code has not been enacted by someone in some time, and it used another path to enact v

[2019-09-10 22:42] ProxiBlue commented on #39
You can try and change that line to be:

$path = ProxiBlue_ReCaptcha_Helper_Data::RECAPTCHA_SITEVERIFY_PATH;

and see if it works, but from the resulting code, it lookslike 'verify' url path used to come back with a different type of result.

Google must have dropped that path at some point (possible with v1)

[2019-09-10 22:44] ProxiBlue commented on #39
i very much suspect this code is legacy, involving v1 recaptcha. I think you need to check what / where the recapctha response is that is supposed to be in the POST request, it seems to be missing, hence why you are ending up in that conditional.

I will have a look to what goes on there, as it look slike this code needs adjustment, and is very likely part of removed v1, that was missed to be remo

[2019-09-10 22:58] r-martins commented on #39
I tried to change to SITEVERIFY_PATH but got the same result in the frontend (Incorrect Captcha).

![magenteiro____www_magenteiro__-_____app_code_community_ProxiBlue_ReCaptcha_Model_Recaptcha_php](https://user-images.githubusercontent.com/191149/64656247-37db7400-d472-11e9-965e-8bed76584914.jpg)

On the log:

[2019-09-10 23:12] ProxiBlue commented on #39
Can you confirm there is a recaptcha response in the POST data?

$request->getParam('g-recaptcha-response')

[2019-09-10 23:22] r-martins commented on #39
It was null/empty.
![Finalize_sua_inscrição_e_comece_a_assistir_agora](https://user-images.githubusercontent.com/191149/64657104-3a8b9880-d475-11e9-979f-96bb9530b7b4.jpg)

I tried to mannually execute `grecaptcha.execute()` on that page's console. The image challenge was displayed; I selected the image; got a `uncaught exception: null` on the console, but was able to move forward to the next ste

[2019-09-11 02:05] ProxiBlue commented on #39
Ok, progress. So issue might be how firecheckout has the form defined.

I generally only use this with core magento checkout, so the js is a bit specific.

Stick a breakpoint here:

https://github.com/ProxiBlue/reCaptcha/blob/master/app/design/frontend/base/default/template/captcha/recaptcha.phtml#L18

Is the form element found? defined? It is likely you simply need to extend this .phtml, into the

[2019-09-11 02:08] ProxiBlue commented on #39
Depending on checkout options (like guest allowed etc), the submit could also be captured here, so again use a breakpoint and see if this is enacted.

https://github.com/ProxiBlue/reCaptcha/blob/master/app/design/frontend/base/default/template/captcha/recaptcha.phtml#L76

Possible issue is with the ``` if (this.validator && this.validator.validate()) {``` conditional?

[2019-09-11 02:12] ProxiBlue commented on #39
just noticed that in your original question.

so could be here as well:

https://github.com/ProxiBlue/reCaptcha/blob/master/app/design/frontend/base/default/template/captcha/recaptcha.phtml#L89

With potential of having 3 recapctahs on the one screen (guest/register/address) there are multiple submit traps!

You might have to find an event in firecheckout to attach to, via some custom code, and ru

[2019-09-11 05:53] r-martins commented on #39
Hello again @ProxiBlue.
Thank you very much for your help on this one.

I've rolled back the other RECAPTCHA_VERIFY_PATH, because I think it's not used anyway in my case.

I've copied the `/captcha/recaptcha.phtml` to my theme, and added the following right after `<?php $handle = $this->getLayout()->getUpdate()->getHandles(); ?>`:

[code]

This would execute `grecaptcha.execute();` before moving f

[2019-09-11 10:36] ProxiBlue commented on #39
Make a pull request, and add to the readme how you fixed for firecheckout, that would be enough, and allow anyone else to get it working as well ;)

[2019-09-11 17:23] Outdoorsman commented on #37
Yes it is compatible as of 2019-09-11.

[2019-09-11 22:23] #39 closed

[2019-09-11 22:25] ProxiBlue commented on #37
@Outdoorsman

I have not made this module compatible with v3 recaptcha, and have not once looked into this.
Can you elaborate why you note this? do you have a PR for work done making the code compatible?

[2019-09-15 23:25] Outdoorsman commented on #37
Thank you @ProxiBlue for specifying I was mistakenly under the impressions that invisible reCAPTCHA was only  available in version 3.

[2019-10-10 17:02] vishy93 opened #41 "Magento 1.9.4.3 throws undefined error on shopping cart"
@ProxiBlue just updated to latest magento version, however sadly the following error is being thrown from this module now:

`Uncaught ReferenceError: Billing is not defined
    at window.reCaptchaCallback ((index):690)
    at $a (recaptcha__en_gb.js:518)
    at recaptcha__en_gb.js:521
    at a5 (recaptcha__en_gb.js:506)
    at l1 (recaptcha__en_gb.js:521)
    at recaptcha__en_gb.js:522
    at reca

[2019-10-11 13:55] ProxiBlue commented on #41
Hello,

Thanks for alerting me to this. I am having a look, by trying to reproduce.The noted js file recaptcha__en_gb.js is not in fact part of the module itself, but google recaptcha functionality code.

I am checking to see if I can reproduce.

Can you share the site this is happening on?

[2019-10-11 14:23] vishy93 commented on #41
Hey,

This weirdly has self corrected itself.

[2019-10-11 14:23] #41 closed

[2019-12-19 07:26] tryllu opened #42 "newsletter issue with custom layout"
Hi, we have some problems running recaptcha on main page, and after long investigation we have to ask for help.

CMS page does include following:
`{{block type="newsletter/subscribe" template="newsletter/home_newside_subscribe.phtml"}}`

It is not being referenced in layout files.

Adding `<?php echo $this->getChildHtml('recaptcha'); ?>` in form, in phtml does not work.

Any help? :)

[2019-12-19 07:36] ProxiBlue commented on #42
Hi,

The problem is that you are not inserting the reCaptcha block as a child block (which is normally done via layout directives)

example:

https://github.com/ProxiBlue/reCaptcha/blob/master/app/design/frontend/base/default/layout/proxiblue_recaptcha.xml#L4

What you will need to do (PR welcomed) is to duplicate the way Contacts work if embeded via a block tag into CMS pages

See this block clas

[2019-12-19 07:39] ProxiBlue commented on #42
potentially ratther use 'Subscribe.php' in place of `Newsletter.php` and use _Subscribe in class name to keep more in-line with core naming conventions ;)

[2019-12-19 07:57] tryllu commented on #42
Great. It started to work.

However reCaptcha widget is blocking view. When mouse over newsletter form it jumps from left/right corner. CSS?

[2019-12-19 08:09] ProxiBlue commented on #42
Check admin settings, you can set the position of the widget
Bottom Right, Bottom Left or Inline

see if any of the options make it work better.

If not you'd likely need to check your DOM elements, as something sounds broken in the DOM

[2019-12-19 08:11] ProxiBlue commented on #42
potentially move where you are inserting the child block using ```<?php echo $this->getChildHtml('recaptcha'); ?>``` - likely it is encased in the input form element.

You'd want to set it just before the closing ```</form>``` tag.

[2019-12-19 08:13] ProxiBlue commented on #42
also, try to wrap the output of ```<?php echo $this->getChildHtml('recaptcha'); ?>``` in ```<ul> ... </ul>``` tags, as the expected position of the recpatcha output is withing element lists, as itself is enacased in ```<li> </li>```

[2019-12-19 20:46] tryllu commented on #42
Yup, figured out that the problem is caused by second newsletter form on the left. On main page there are two newsletter forms. That in the footer is working fine however second one (on left side) overwrites some styling and causes badge malfunction.

Have you ever configured reCaptcha for two forms on one page?

[2019-12-19 22:06] ProxiBlue commented on #42
Sure have. The captcha works fine with a footer based newsletter form,
which appears on all pages, and thus any other page, like login.

See for example www.enjo.com.au

There is a footer on all pages.

On Fri, 20 Dec 2019, 04:46 tryllu, <notifications@github.com> wrote:

[2020-01-05 23:29] Kisumo opened #43 "reCaptcha show up twice on One Page Checkout"
Hi,

for some reason the reCapture shows up twice on the "one page checkout".

![0A5AE87A-49A0-4BE1-9AE3-3409DDC4D1A1](https://user-images.githubusercontent.com/59543847/71787720-9b8a3e00-301b-11ea-8393-c5eccb7f9ad4.png)

The first has the id "captcha-925-input-box-guest_checkout"
The second has the id "captcha-883-input-box-register_during_checkout"

Could you please help me to solve the problem.

[2020-01-06 05:11] ProxiBlue commented on #42
closed due to inactivity

[2020-01-06 05:11] #42 closed

[2020-01-06 05:14] ProxiBlue commented on #43
Hi,

Have you tried to see if issue persists on a plain base RWD theme?
If this is an issue on a production site, to overcome this, disable either checkout guest recapctha or checkout register recapctha, which will eliminate one of the duplication.

Unfortunately I don't have the time right now to debug this for you.

[2020-01-20 23:27] r-martins opened #44 "Invisible reCaptcha fails when other captchas are present"
When other captchas (like I'm not a robot) are present on the same page, added by some other module/way, the invisible recaptcha doesn't work and avoid form submission.

![Criar_Nova_Conta_de_Cliente](https://user-images.githubusercontent.com/191149/72763591-8aa31480-3c38-11ea-97df-6fe5e42d6db3.jpg)

[2020-01-22 07:52] #44 closed

[2020-04-05 00:33] ProxiBlue commented on #43
Closed due to inactivity

[2020-05-08 06:26] r-martins opened #46 "404 at https://www.google.com:443//recaptcha/api/verify"
When coming back and editing a previous section using Firecheckout, the module returns an alert of Invalid Captcha.

Debuging the module, I found that it gets a 404 when doing the following request to https://www.google.com:443//recaptcha/api/verify.

[code]

I'm still debugging, but just wondering if that is really the correct url.

[2020-06-25 04:06] InsomniumBR commented on #46
(Fala Ricardo! ;) nos encontrando por aí - @WagnerBertolini)

@r-martins I was getting the same response code because I had not configured the api keys from google.

Other things I have done to make it work properly on my 1.9.3.4 store:

- copying the captcha.xml even for rwd (instructions on readme)
- removing ProxiBlue folder and reinstalling the old version 2.0.1 of this plugin.

Now it works.

[2020-06-25 04:15] ProxiBlue commented on #46
@InsomniumBR

To confirm, you are also on Firecheckout?

regading:

Can you confirm that you are then running m1< 1.9.4 without security patch SUPEE 10975?

Any version past 2.0.1 will not work in 1.9.4 or prior with said patch.

https://github.com/ProxiBlue/reCaptcha#versions

[2020-06-25 04:19] ProxiBlue commented on #46
@r-martins - sorry for teh late response.

No, it does not look correct.

[2020-06-25 04:22] InsomniumBR commented on #46
@ProxiBlue

I am running 1.9.3.4 and I think I did not apply the security patch SUPEE 10975 yet.

And I am sorry! Not using Firecheckout.

[2020-06-25 04:22] ProxiBlue commented on #46
Nope, it is correct:

as per their docs:

https://developers.google.com/recaptcha/docs/verify

API Request
URL: https://www.google.com/recaptcha/api/siteverify METHOD: POST

I suspect you will get a 404 if any of the required params are not populated:

[2020-06-25 04:24] ProxiBlue commented on #46
And again, ahhh - no, I I call:

https://www.google.com/recaptcha/api/siteverify

direct, it works with a json result.

The url generated by the module is not working.

The double slash maybe // ?

[2020-06-25 04:26] ProxiBlue commented on #46
[code]

not verify

so yes, I stand corrected, the generated URL is incorrect.

I am sure I fixed this, as it sound familiar...

[2020-06-25 04:38] ProxiBlue commented on #46
Ok, the issue is here:

https://github.com/ProxiBlue/reCaptcha/blob/master/app/code/community/ProxiBlue/ReCaptcha/Model/Recaptcha.php#L133

That is a fallback routine, which tries to rebuilt the request response is not in params.
If this happens, should really try determine why.

In most cases it will allow the verification to continue, or just pass (an improvement on v3 one day, maybe)

The call

[2020-06-25 04:39] ProxiBlue commented on #46
After that change, RECAPTCHA_VERIFY_PATH is no longer in use, so the constnat is now dropped as well.

[2020-06-25 04:42] ProxiBlue commented on #46
@r-martins

Likely resolved in 2.3.2 release. Not tested, as I don;t have time right now to try and reproduce that fallback scenario form happening.

[2020-06-25 05:52] r-martins commented on #46
@ProxiBlue Thanks a lot for the reply.
In fact the siteverify was the problem regarding the 404 error.
However, when we come back to a previous step in Firecheckout, I guess we need to add something else to trigger the reValidation, becaus now the siteverify returns `{
  "success": false,
  "error-codes": [
    "timeout-or-duplicate"
  ]
}` (incorrect captcha).

I will try the new version now.

[2020-06-25 06:12] r-martins commented on #46
Just tested the 2.3.2 version.
The above problem (timeout or duplicate) persists, and the 404 too (as the `RECAPTCHA_VERIFY_PATH` constant is still there).
I did a quick video where:
* the fist request works, and the captcha is successful
* the second fail due to duplicate
* retrying returns 404

[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/4FI2MD6X89o/0.jpg)](https://www.youtube.com/watch?v

[2020-06-26 13:33] ProxiBlue commented on #46
@r-martins - Yes, you are correct. something went wrong making that release. I been doing to much at once, lost track of a step.

New release: 2.3.3 which the change now.

https://github.com/ProxiBlue/reCaptcha/releases/tag/2.3.3

[2020-06-26 13:40] ProxiBlue commented on #46
Try add this to start of each buttons actions.

https://github.com/ProxiBlue/reCaptcha/blob/master/app/design/frontend/base/default/template/captcha/recaptcha.phtml#L127

[2020-06-29 05:13] r-martins commented on #46
Thanks for the update @ProxiBlue .
Didn't work for me.
When adding a manual breakpoint and trigger ir manually, it processes something but the id with the captcha is not updated.
When adding it automatically (on the trigger), I get a timeout error..
![Finalize_sua_inscrição_e_comece_a_assistir_agora](https://user-images.githubusercontent.com/191149/85975326-18bacc80-ba1b-11ea-98d2-d188fdad68ab.j

[2020-06-29 05:33] r-martins commented on #46
My mistake. `gerecaptcha.execute()` was being called before the reset and the loop.
It works!!
Thanks a lot one more time, @ProxiBlue.
Let me buy you a coffee when you come to nsw. ;)

[2020-06-29 05:34] r-martins commented on #46
@ProxiBlue fixed the 404 on 2.3.3

[2020-06-29 05:34] #46 closed

[2020-07-17 07:01] kopitar opened #49 "no changes on CAPTCHA settings after plugin install"
After installing the plugin the core CAPTCHA settings in System > Advanced > Admin seem unaffected.
[Screenshot](https://ibb.co/HPTXTP2)

Magento 1.9.2.4
reCaptcha plugin 2.3.4

- copied plugin contents to /app
- cleared cache

[2020-07-18 11:00] ProxiBlue commented on #49
Hello,
Have you checked file permissions? ownership of files?

Can you confirm file locations are correct?

app/code/community/ProxiBlue/ReCaptcha
app/etc/modules/ProxiBlue_ReCaptcha.xml

Composer is the preferred install method.

[2020-07-18 11:03] ProxiBlue commented on #49
Just had a look at your screenshot, and confuse by your ticket.
That screen is EXACTLY correct

I am not a robot is the recaptcha value produced by the module.
That looks like it is working.

What is it you are expecting to see?

[2020-07-28 13:47] ProxiBlue commented on #49
closed due to no response.

[2020-07-28 13:47] #49 closed

[2020-11-07 19:53] morgan opened #50 "Captcha not appearing on checkout"
Hello there!

We've successfully implemented reCaptcha and have it enabled across a variety of views. The one place we'd love to use it is on checkout. After a fair amount of inspection, it is unclear why the block is not being inserted.

Any thoughts?

Thanks ahead of time!

[2020-11-09 15:40] ProxiBlue commented on #50
Hello,

Very likely a theme adjustment in a layout xml (checkout.xml or layout.xml)
In the module, the form is injected as part of the review:

https://github.com/ProxiBlue/reCaptcha/blob/master/app/design/frontend/base/default/layout/proxiblue_recaptcha.xml#L48

So I would say, issue likely that the parent block ```checkout.onepage.review.info.items.after``` is not being rendered.

[2020-11-21 14:52] #50 closed

[2021-01-12 13:39] norgeindian commented on #43
@ProxiBlue , I'm facing the same issue and debugged that a bit.
Usually one of the captcha forms should be removed in `js/mage/captcha.js`.
But there Magento is looking for an element with the id `captcha-input-box-guest_checkout`, resp. `captcha-input-box-register_during_checkout`
Unfortunately you change the class ids in `\ProxiBlue_ReCaptcha_Model_Recaptcha::getElementId`, so that we have ids l

[2021-01-12 21:59] ProxiBlue commented on #43
Hello,

I will have a look int this, things must have chanegd somewhere, breaking the integration.
What version of m1 you on?

[2021-01-13 09:11] norgeindian commented on #43
@ProxiBlue , thanks for the fast reaction.
We're using the latest M1, so 1.9.4.5  with all current MageOne Patches included (which should not matter in my eyes).
Please let me know, if you can not reproduce the issue on your side.

[2021-01-13 14:58] ProxiBlue commented on #43
Ok, I will give it a test on 1.9.4.5. I no longer actively use this module, so  likely an update to checkout has broken things.

[2021-01-15 16:57] copostic opened #51 "Uncaught (in promise) null on Magento 1.9 Newsletter form"
Hello,

I installed and configured your extension on my pre-prod and it perfectly worked but once I transferred the files on the production server, I started to get a JS error when I click on the submit button of the form: Uncaught (in promise) null.
I searched the web about this issue and it's usually caused by a missing promise on reCaptcha configuration.
Do you have any idea what could cause th

[2021-01-16 06:07] ProxiBlue commented on #51
Hello, I am currently hospitalised with a serious trauma wound, and will get to this when I can.

I am unsure when that will be, likely in about 2-3 weeks

[2021-01-16 06:07] ProxiBlue commented on #43
Hello, I am currently hospitalised with a serious trauma wound, and will get to this when I can.

I am unsure when that will be, likely in about 2-3 weeks

[2021-01-16 20:37] ProxiBlue commented on #51
whilst I lie here in hospital, can you check if there are any other JS related errors on the page load? So maybe something that halts JS execution on the page?

Can I gain access to the page ? a url I can view? (times like these I wish I had a laptop!)

[2021-01-16 21:43] ProxiBlue commented on #43
I have been discharged, for further care from @home via daily nurse visists :+1:

SO I can look into this now, and I can 100% reproduce

![image](https://user-images.githubusercontent.com/4994260/104823687-f7baab80-5886-11eb-84b0-1741c774b3f2.png)

on a clean openmage install

[2021-01-16 22:00] ProxiBlue commented on #51
I have been discharged for care from home by daily nurse visists.

Can you pass me a url where this is happening, and step to reproduce.

[2021-01-17 13:30] ProxiBlue commented on #43
Hello, I have released v 2.3.7, which I believe fixes this issue.

Please have a test and let me know.

[2021-01-17 22:54] copostic commented on #51
Oh my God I'm really sorry to hear that, I didn't want to bother you, take care of your health first and get well 🙂
I'll send you some URLs tomorrow but really, get well and keep your health in mind first !!

All the best,

Corentin

[2021-01-18 00:14] ProxiBlue commented on #51
Thank you. Yes, I thought I was in teh home stretch, even getting ready to go back to my office this week, when all of a sudden the wound got infected (but seems it was an already progressing DEEP infection, that only now surfaced)

FYI: https://twitter.com/ProxiBlue/status/1344789069155295232

I had a bicycle accident on 28th December, and the healing has been a long road sofar

[2021-01-18 09:45] copostic commented on #51
Oh damn, it is indeed really serious, I hope you'll get better soon, now's not really to time you want to be in the hospital..
Here's the URL: https://www.phyderma.fr/
The form is the newsletter one on the footer, when I send it I have the mentioned error..

Again, do not worry to much about this and listen to your nurse ;)

[2021-01-18 11:05] norgeindian commented on #43
@ProxiBlue , just tested it. Looks fine and seems to work.
Thanks a lot for the fast fix.

[2021-01-19 11:48] ProxiBlue commented on #51
Hello,

I noticed you are using some form of js minification on the page?

![image](https://user-images.githubusercontent.com/4994260/105028838-83e9f000-5a8c-11eb-8ce3-72b32d5f4b11.png)

I can see the captcha IS called...

![image](https://user-images.githubusercontent.com/4994260/105029557-74b77200-5a8d-11eb-8658-ea795cabe7d2.png)

You are making the capctha invisible...try remove that and see if

[2021-01-19 15:29] copostic commented on #51
I changed the key and it's now working... Thanks a lot for your time, I hope you'll get well soon!
All the best

[2021-01-19 15:29] #51 closed

[2021-02-02 09:24] norgeindian commented on #43
@ProxiBlue , we just found an issue with your new release.
Until now, we only tested using the visible ReCaptcha and the default Google test keys. So we could make sure, that the ReCaptcha is actually used and fails every time.
Now we switched to invisible and used our real keys.
Doing this, we found out, that the validation fails every time when you try to enter your billing address in the checko

[2021-02-02 12:18] ProxiBlue commented on #43
Hello, I will look into this, thanks for reporing.

[2021-02-02 12:46] ProxiBlue commented on #43
Hello, is your failure after Billing submit an actual reCaptcha failure message, or are you flicked back to cat?

[2021-02-02 12:56] ProxiBlue commented on #43
I am not able to reproduce the issue, works every time

https://drive.google.com/file/d/1MrJ_Rea161WHMWo3dHJn8te8754tJ99A/view

In admin, enable the debug log

![image](https://user-images.githubusercontent.com/4994260/106603077-d0f3b900-6598-11eb-8818-53be567fc293.png)

Then after your fail, check the debug log located at <site root>/var/log/recapctha.log
There may be a reason in there why its fa

[2021-02-02 16:12] ProxiBlue commented on #43
Sounds like a javascript issue. When the code submits the response is
coppied into the post request. Sounds like that is missing.

Are you hiding the recaptcha elements with css?

On Wed, 3 Feb 2021, 00:02 Ole Schäfer, <notifications@github.com> wrote:

[2021-02-02 16:13] ProxiBlue commented on #43
Any javascript errors in browser console?

On Wed, 3 Feb 2021, 00:02 Ole Schäfer, <notifications@github.com> wrote:

[2021-02-04 21:11] norgeindian commented on #43
@ProxiBlue , we found the issue.
We generally include the newsletter subscription with the corresponding ReCaptcha, which we added manually, in the footer.
Unfortunately this one is cached as long as the customer is on other pages than the checkout and so the check in your code, if we are in the checkout, fails for this ReCaptcha. And this way the validation is not triggered correctly.
So actually

[2021-02-04 21:43] ProxiBlue commented on #43
Glad you got it solved.

On Fri, 5 Feb 2021, 05:11 Ole Schäfer, <notifications@github.com> wrote:

[2021-02-05 11:19] norgeindian commented on #43
@ProxiBlue , I fear we now have another issue, which might be related to the fix for this ticket.
Are you sure, that the `register_during_checkout` captcha works with your fix?
As we now solved our cache issue, we tested both ways again and as the `guest_checkout` works fine, the other always fails.
We debugged a bit and found the following:

- In `app/design/frontend/base/default/template/captcha

[2021-02-05 11:30] ProxiBlue commented on #43
Hello, checking if I can reproduce

You should not need both, as the code will find the first one (as what ho google code does) and  copy the response.
Googles own code don't ever expect more than one recapctha element, so they just find the first one, and use it.

They never expect multiple.

[2021-02-05 11:34] ProxiBlue commented on #43
However, I can agree that the register now fails (oops)

I am looking into it.

I am 100% sure I tested that prior, but maybe a clean cache/slate changed the state of something

[2021-02-05 12:04] ProxiBlue commented on #43
Ok, so the issue is that I now transpose the separated form ids from the previous MULTIPLE captcha entities to one, with one form id.
Core code is still looking for the original form ids

[2021-02-05 14:49] ProxiBlue commented on #43
@norgeindian

Have a go with https://github.com/ProxiBlue/reCaptcha/releases/tag/2.3.8

[2021-02-06 08:59] norgeindian commented on #43
@ProxiBlue , thanks a lot for your fast work here, that seems to work

[2021-02-06 11:04] ProxiBlue commented on #43
NP

A lot of stores use this module. If they composer update with a blanket
verion update a lot of stores will break.

Swift resolution prevent a lot of angry people ;)

On Sat, 6 Feb 2021, 16:59 Ole Schäfer, <notifications@github.com> wrote:

[2021-02-28 14:53] ProxiBlue commented on #43
@norgeindian

Please update to 2.3.9.
I found a bug in 2.3.9 which will block checkout if reCapctha is not actually selected in admin to BE in checkout (in use on invisible)
The adjusted validation in this bug will continue to validate response, but will fail as is not actually enabled IN checkout.

[2021-03-01 07:26] norgeindian commented on #43
@ProxiBlue , shortly tested your new version. But I think your fix does not work.
I have activated all ReCaptcha Forms in the Backend Config and everything worked in 2.3.8.
When I now use your new version, the Captcha is not validated at all in the checkout.
Please take a look at `\ProxiBlue_ReCaptcha_Model_Recaptcha::_getTargetForms`
There you unset `register_during_checkout` and `guest_checkout`

[2021-03-01 09:07] ProxiBlue commented on #43
Crap. I only tested not selected. Will confirm. Thanks for the feedback.

On Mon, 1 Mar 2021, 15:26 Ole Schäfer, <notifications@github.com> wrote:

[2021-03-01 09:09] ProxiBlue commented on #43
Ok, I am re-opening this sisue as not completely solved

Be aware that on 2.3.8, if you deselect the checkout forms in admin, checkout will completely break.

[2021-03-02 08:23] ProxiBlue commented on #43
Ok, https://github.com/ProxiBlue/reCaptcha/releases/tag/2.3.10

Notice that due to the changes in this ticket (to prevent double showing) there is no longer any difference between selecting Guest or Register at checkout options.
If either is selected, there will be a captcha for both in checkout.

I will need to rework the entire way I make the fix for this 'double display' work to solve that, and

[2021-03-02 09:08] ProxiBlue commented on #43
Damit, I am not winning with this one. I might have to re-loo at this entire fix.
I just foudn a site I manage not working on invisible on checkout!

[2021-03-02 09:13] ProxiBlue commented on #43
Ha, no, my bad, the site had teh Tick Box API keys set, not invisible, once fixed, it works as expected! (phew)

[2021-03-19 21:44] ProxiBlue commented on #43
@norgeindian

FYI: I have a site (one only) that uses bog standard OnePage and multiple users on IOS devices claiming they cannot proceed past billing to next step.
Disabling reCapctha fixed issue / reports.

Neither myself, or client and his testers could reproduce this issue.

Just letting you know (in full disclosure) that it would seem latest changes seem to be causing some form of issue.

I a

[2021-04-09 14:08] norgeindian opened #52 "Warning in PHP 8.0"
We recently updated to PHP 8.0.
When a customer now tries to log in, he gets the following warning:

[code]

As soon as I disable the extension, the error is gone.
Any idea what might go wrong here?

[2021-04-09 17:43] ProxiBlue commented on #52
The module has not been tested with magento 8
Which version of openmage are you using?

[2021-04-09 23:08] ProxiBlue commented on #52
Out of interest. I see the trace involves all core code, which would be invoked by the recaptcha module as it uses mostly core magento code to effect work.

Have you tested using core magento captcha?  Yes the ugly enter these characters and check if dame error happens?

This looks a bit luke some core magrnto code failing.

[2021-04-13 05:01] norgeindian commented on #52
@ProxiBlue , we are using the latest Mage One patches, which now support PHP 8.0.
I just tried again with default Magento Captcha and that worked fine. So even if we only see default Magento in the trace, this seems to be caused by ReCaptcha somehow.

[2021-04-13 06:14] ProxiBlue commented on #52
Thanks for the update. I will need to get mage one serup and test.

However i won't get to it soon.

On Tue, 13 Apr 2021, 13:01 Ole Schäfer, ***@***.***> wrote:

[2021-04-26 10:25] norgeindian commented on #52
@ProxiBlue , I shortly debugged a bit further into that issue and found out, that the notice is just now a warning in PHP 8.0 (see https://www.php.net/manual/de/migration80.incompatible.php#migration80.incompatible.core.other:~:text=Attempting%20to%20access%20an%20array%20index%20of%20a%20non%2Darray.)
The behaviour has always been the same, it just never came up.
So you don't need a Mage One inst

[2021-04-26 14:03] ProxiBlue commented on #52
Hello,

Appreciate your effort and time here, I will have a look into it as soon as I have a moment (still recovering form surgery) as soon as I am cought up with paid client work.

[2021-04-27 02:37] ProxiBlue commented on #52
That looks like it would be the simplest solution. As cab be seen in the code flow, none of the proxiblue code even comes into play, and to skip that function will require additional rewrites onto the core code, which I don;t want to do.

So, if you want to add such a field, and submit a PR I will get that merged in.

I can get to it in a few days, as will need to test, and I don't have time right

[2021-05-03 09:53] norgeindian commented on #52
@ProxiBlue , please be so kind and take a look at my pull request.
Just tested it and it seems to work fine

[2021-05-03 11:22] #52 closed

[2021-05-03 11:30] ProxiBlue commented on #52
Thanks for your effort. Appreciated.

[2021-06-21 11:22] durzel opened #56 ""Invisible" reCaptcha no longer works"
Hi,

I am running Magento CE 1.9.4.5 and as of about 17/06/2021 the "invisible" reCaptcha no longer works on my website.  It does not appear in the bottom right (as configured), and attempting to log in to the backend with a known good username/password combination just results in an error, as if the reCaptcha part is missing.

When the reCaptcha is set to "Invisible", I get the following error in

[2021-06-21 13:22] dc006 commented on #56
Yes, Iam getting very same error message. I can not figure out so far what is going on.

[2021-06-21 13:35] tryllu commented on #56
Same thing:

==> recapctha.log <==
2021-06-21T13:13:12+00:00 DEBUG (7): Form ID: backend_login=>No 'g-recaptcha-response' in request! - building
2021-06-21T13:13:12+00:00 DEBUG (7): Form ID: backend_login=>sending to verify params of Array
(
    [privatekey] =>
    [challenge] =>
    [response] =>
)

2021-06-21T13:13:12+00:00 DEBUG (7): Form ID: backend_login=>Bad response from captcha gateway. we

[2021-06-21 13:47] durzel commented on #56
In the short term you can disable the module in `etc/modules/ProxiBlue_Recaptcha.xml` which will make Magento fall back to the built in CAPTCHA, log in, and then change it to “I’m not a robot”, or disable CAPTCHAs entirely.

[2021-06-21 15:41] ProxiBlue commented on #56
Hello, I will ave a look into this soon, thanks for reporting.

[2021-06-21 15:43] ProxiBlue commented on #56
Did any of you update the module recently? can you check versions installed please.

latest is 2.5.0

[2021-06-21 15:59] ProxiBlue commented on #56
FWIW, checked a few of the site I know uses this, and seems to be working there:

![image](https://user-images.githubusercontent.com/4994260/122791795-22080d80-d2ec-11eb-8c9b-0cc991a73bf7.png)
![image](https://user-images.githubusercontent.com/4994260/122791877-364c0a80-d2ec-11eb-8917-d583f229441f.png)
![image](https://user-images.githubusercontent.com/4994260/122792047-5da2d780-d2ec-11eb-9fa9-0a0

[2021-06-21 16:12] ProxiBlue commented on #56
Is this all admin/backend related?

I am not seeing issue on frontend with latest

- Updating proxiblue/recaptcha (2.3.8 => 2.5.0): Loading from cache

[2021-06-21 16:13] indrisepos commented on #56
I tested it on the following versions and unfortunately it doesn't work: 2.1.1, 2.5.0

[2021-06-21 16:14] ProxiBlue commented on #56
I am also fine on backend:

![image](https://user-images.githubusercontent.com/4994260/122794452-dc990f80-d2ee-11eb-84cf-519f065f1b49.png)

[2021-06-21 16:15] ProxiBlue commented on #56
@indrisepos

Magento version?

[2021-06-21 16:16] durzel commented on #56
I'm on the latest currently, per config.xml - 2.5.0

I'm seeing the same web console error on both backend and frontend, when trying to use "Invisible" CAPTCHA type.

[2021-06-21 16:16] indrisepos commented on #56
Magetno 1.9.4.2

2021. 06. 21. 18:15 keltezéssel, Lucas van Staden írta:

[2021-06-21 16:17] ProxiBlue commented on #56
anyone have a site that I can have a look at? obviously a test / uat site is prefered.

I cannot reproduce.

[2021-06-21 16:18] ProxiBlue commented on #56
I am on latest openmage, so will get a standard Magetno 1.9.4.2 setup to see.

[2021-06-21 16:21] tryllu commented on #56
I have 2.0.1 and its not working.

[2021-06-21 16:28] durzel commented on #56
I can confirm that the same bug exists in 2.3.10, 2.4.0, 2.4.1 and 2.5.0.  The same error is produced in the web console when using "Invisible" reCaptcha type.

The fact that it spontaneously stopped working on or around 17/06 makes me think the problem is external.. something relied upon that is no longer the case? Parameter(s) changed, etc?

[2021-06-21 16:35] durzel commented on #56
Ok I've made progress...

Replacing js/prototype/prototype.js with [1.7.3](https://ajax.googleapis.com/ajax/libs/prototype/1.7.3.0/prototype.js) immediately fixes the problem with no other changes.

I don't know what if any compatibility issues there are with Magento 1.9+ using Prototype 1.7.3 instead of 1.7....

[2021-06-21 16:46] tryllu commented on #56
`    private function _sendRequest($path, $params)
    {
        $this->_debug(ProxiBlue_ReCaptcha_Helper_Data::RECAPTCHA_API_SERVER.'/'.ProxiBlue_ReCaptcha_Helper_Data::RECAPTCHA_API_PATH.'/'.$path);
        $httpRequest = new Zend_Http_Client(
            ProxiBlue_ReCaptcha_Helper_Data::RECAPTCHA_API_SERVER
            . '/'
            . ProxiBlue_ReCaptcha_Helper_Data::RECAPTCHA_API_PATH

[2021-06-21 16:49] ProxiBlue commented on #56
I have seen this before, let me check my changelog

[2021-06-21 16:52] ProxiBlue commented on #56
The 404 is expected:

https://github.com/ProxiBlue/reCaptcha/issues/46#issuecomment-649207711

It requires POST data

[2021-06-21 16:54] durzel commented on #56
Yup.. it's a bit bad of Google to return 404, it ought to be 400 Bad Request.

[2021-06-21 16:54] ProxiBlue commented on #56
no, I was wrong, a few commenst down:

https://github.com/ProxiBlue/reCaptcha/issues/46#issuecomment-649208100

[2021-06-21 16:55] ProxiBlue commented on #56
it should be siteverify not verify

[2021-06-21 16:55] durzel commented on #56
Yeah I was wrong too - it's https://www.google.com/recaptcha/api/siteverify

I don't see "verify" in the source..

`app/code/community/ProxiBlue/ReCaptcha/Helper/Data.php:    const RECAPTCHA_SITEVERIFY_PATH = "siteverify";`

[2021-06-21 16:57] ProxiBlue commented on #56
ok, is 1am here now, I need to go get some sleep. I will investigate on a clean m1924 when I wake up again.

It is installed already, will check module in that next.

Sofar all my local tests work fine, no issues

[2021-06-21 16:59] durzel commented on #56
👍

Upgrading `prototype.js` to `1.7.3` fixed the problem for me, and hasn't caused any other obvious issues that I've seen.  Obviously I can't recommend this as a solution for heavy production sites, but it worked for me.

[2021-06-21 17:01] ProxiBlue commented on #56
Ok, so is likely why mine works on openmage, as they upgraded that.

Thanks for that, I will have to check the code and make it backwards compatible, OR, is code on google side with they js that's no longer compatible (which seems likely reason)

[2021-06-21 17:04] durzel commented on #56
Yes, the fact that it just spontaneously stopped working - and the fact that earlier versions don't work either - point to Google changing something on their end that makes Prototype 1.7 incompatible.

[2021-06-21 17:06] tryllu commented on #56
Confirm. It is working with 1.7.3, however I am not sure if other services are not affected.

[2021-06-21 17:11] ProxiBlue commented on #56
I will still have a gander, see what I can figure out, but yeah, likely not going to be an issue I can solve. Things move on. That's life

[2021-06-21 19:08] ZenMasta commented on #56
For what it's worth. I'm experiencing the login problem with a 3rd party recaptcha extension. Customers see this error on the login page"•	The response parameter is invalid or malformed.". On my store, the last successful order where a customer logged in was June 17th. So not sure if this started later in that day or started in the 18th. Fortunately a customer called me the next day to get help lo

[2021-06-21 21:08] LuizSantos22 commented on #56
@ZenMasta I confirm, I have installed it on OpenMage 1.9.4.13 and I had a lot of issues with customers not able to create accounts. So I have disabled it. So far Cloudflare is coping to keep spammers away. I guess Honeyspam is also doing its job
https://github.com/magento-hackathon/HoneySpam

[2021-06-22 01:13] ProxiBlue commented on #56
Openmage 1.9.4.13 i beleive is essentially still vanilla m1.

Using from OpenMage 20.x up is the more updated version ( which i use )
with updated 1.7.3 prototype

On Tue, 22 Jun 2021, 05:08 LuizSantos22, ***@***.***> wrote:

[2021-06-22 01:17] LuizSantos22 commented on #56
@ProxiBlue Actually, OpenMage 1.9.4.13 is a fork which is more compatible with Magento 1.9 than the version 2x...
The have two OpenMage versions... The ones with 1.9 are more compatible with original Magento 1.9 than OpenMage 2x, which has more modifications.

So in order to avoid issues with plugins, I have chosen OpenMage 1.9 flavor

[2021-06-22 01:48] ProxiBlue commented on #56
Ah, did not know this. I migrated my clients that prefers to stay on m1 to the full OpenMage version quite some time ago, and not experienced any major 3rd party module issues, but then 90% of their functions I coded, rather than loading multiple 3rd party modules.

[2021-06-22 06:21] ProxiBlue commented on #56
I can now reproduce on vanilla 1.9.2.4

![image](https://user-images.githubusercontent.com/4994260/122874022-17d62580-d365-11eb-9ae7-c9607e8cf61b.png)

[2021-06-22 06:22] ProxiBlue commented on #56
Confirmed that I am not a robot still works

![image](https://user-images.githubusercontent.com/4994260/122874164-3e945c00-d365-11eb-8d16-22fcf232dfda.png)

[2021-06-22 09:57] ProxiBlue commented on #56
anyone stuck can run these sql queris to swap  to 'I am not a robot'

[code]

[2021-06-22 14:41] ProxiBlue commented on #56
I can confirm that the fix by @empiricompany fixes the issue. (Thank you very much for that effort, I have been stick on a paid client job)

It is really the only way as the issue is outside this modules functionality/scope.

I will update the readme accordingly, as this fix introduces a new version of prototype, which can potentially cause (but unlikely) issues with other parts of the magento fra

[2021-06-22 14:51] durzel commented on #56
It appears to fix the frontend, but the backend is still pulling `prototype.js` from `js/prototype/prototype.js`

[2021-06-22 14:53] ProxiBlue commented on #56
![image](https://user-images.githubusercontent.com/4994260/122947409-b5a11300-d3ac-11eb-99f0-5e33b8d9f5e4.png)

[2021-06-22 14:54] ProxiBlue commented on #56
I will have a look at that, thanks for letting me know, did not check admin.

[2021-06-22 15:21] ProxiBlue commented on #56
@durzel

Check new version 1.5.2

[2021-06-22 15:22] empiricompany commented on #56
yes we have fixed only frontend because we not use captcha in admin, but if we want to cover also admin i think we can simply just register the observer into <globals /> section in config.xml

`   <globals>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <fixPrototypeVersion>
                        <class>proxiblue_recaptcha/ob

[2021-06-22 15:23] ProxiBlue commented on #56
Yep, I have adjusted the the event to the global section

[2021-06-22 15:27] durzel commented on #56
No joy for me, I'm still getting the standard Magento `prototype.js` on the backend, even on 2.5.2.  Are you not getting that?

[2021-06-22 15:29] ProxiBlue commented on #56
Not in my local. let me check the release, see if it released correct code

[2021-06-22 15:40] ProxiBlue commented on #56
@durzel

You are correct. I tested that on the 1.7.3 based magento (as my debugger is not working on the docker environment I quickly brought up for the 1.9.4.5 test)

Although the code actions

![image](https://user-images.githubusercontent.com/4994260/122955961-29deb500-d3b3-11eb-8809-8334d8e5d3db.png)

the end result is still the wrong (core) prototype loading in head, so admin is somewhere rep

[2021-06-22 15:46] ProxiBlue commented on #56
It actually works INSIDE admin, not on login

![image](https://user-images.githubusercontent.com/4994260/122956815-ecc6f280-d3b3-11eb-87f8-4d1d6b52335d.png)

There must be separated head templates for admin login (ugh magento 1)

so the given event doe snot do teh job

[2021-06-22 15:47] ProxiBlue commented on #56
does not help I am nwo so used to m2, I forget how parts of m1 works!

[2021-06-22 15:49] empiricompany commented on #56
it's hardcoded in adminhtml/default/default/template/login.phtml

[2021-06-22 15:49] ProxiBlue commented on #56
Oh FFS, yes I just found it as well

[2021-06-22 15:50] durzel commented on #56
Well spotted.

[2021-06-22 15:51] ProxiBlue commented on #56
At this point I think a patch will need to suffice to make that template work on the module supplied 1.7.1

Its just one of those things.

[2021-06-22 15:51] ProxiBlue commented on #56
I have work waiting that I need to get to

[2021-06-22 15:53] durzel commented on #56
Indeed.  To be honest given how many places this might be the case, it might even be worth just telling people they need to stick `prototype.js `1.7.1 in `js/prototype` themselves.

It's hardcoded in `adminhtml/default/default/template/forgottenpassword.phtml`too.

[2021-06-22 15:53] empiricompany commented on #56
i think there is not a clean solution to fix it in backend login, you have to manually update original js/prototype.js or we have to rewrite entire login.phtml template

[2021-06-22 15:53] ProxiBlue commented on #56
So, the fix will be to move the provided fix back to just on a frontend event, and supply a patch for login.phtml that can be applied

[2021-06-22 15:54] ProxiBlue commented on #56
if composer is used for site deploy via a composer patch, it can be applied cleanly-ish via pipeline deploys and composer udpates

I will supply instructions in README

[2021-06-22 15:58] durzel commented on #56
[code]

...are the affected files for the backend, for what it's worth.

I wonder if there is any mileage in trying to patch the incompatible functionality in `prototype.js` 1.7 instead of replacing it?  Will do some investigating...

[2021-06-22 16:25] ProxiBlue commented on #56
Ok, I have reverted the event back to frontend only on version https://github.com/ProxiBlue/reCaptcha/releases/tag/2.5.3

I need to move on to paid work, with deadlines.

I have updated readme.

![image](https://user-images.githubusercontent.com/4994260/122964018-6d3c2200-d3b9-11eb-9346-2d656657cca0.png)

When I get time (unless someone beats me to it) patches will be supplied via a GIST to apply

[2021-06-24 08:42] norgeindian commented on #43
@ProxiBlue , following #56 , I just installed the newest version.
Unfortunately, the invisible reCaptcha is not validated any more in the checkout.
Please activate the logging and try to go through the checkout. The fields are there, but no validation happens.
As far as I see, this is somehow related to your check `in_array($this->_originalFormId, $this->_forms)` in `\ProxiBlue_ReCaptcha_Model_Rec

[2021-06-24 09:06] ProxiBlue commented on #43
Magento version?

On Thu, 24 Jun 2021, 16:42 Ole Schäfer, ***@***.***> wrote:

[2021-06-24 09:54] norgeindian commented on #43
1.9.4.5 with all Mage One Patches applied. But I actually expect it to be a general issue, independent of the Magento version. When I debug into `$this->_originalFormId` during the actual validation step, this is also `recapctha_checkout`, so it's never in `$this->_forms` and this is why nothing gets validated

[2021-06-24 12:20] ProxiBlue commented on #56
if you are stuck with admin login you can disable capctha with:

[code]

for admin, then clear cache

[2021-06-24 13:06] ProxiBlue commented on #43
Ok, I honestly don't have the time tight now to debug this. I had a cursory glance at the code, and to be frank, it has become a bit of a hacky mess, and likely requires a major refactor

Due to my current schedule, and paid for deadlines, I simply cannot spend time on this for a few weeks.

I am at present considering to archive this module, as I woudl prefer to not have a broken module available

[2021-06-24 13:07] ProxiBlue commented on #43
The only thing that change din the latest version is the usage of prototype 1.7.1, which could also be involved with the issue.

[2021-06-24 13:10] ProxiBlue commented on #56
ATTENTION:

I am currently considering archiving this module, as I no longer have the free time to continue supporting this code.
as per ticket: https://github.com/ProxiBlue/reCaptcha/issues/43, it seems there are issues in checkout with the validation of the invisible recapctha, which *could* be related to the usage of prototype 1.7.1

I simply don;t have teh time due to paid works with deadlines